<html>
    <head>
        <title>{% block title %}Datadog monitor manager{% endblock %}</title>
        {% block extrahead %} {% endblock %}
    </head>
    <body>
        <div class="header" style="border-style: solid; background-color:rgb(32,25,39);" class="header">
            <h1 style="color:rgb(226, 225, 227)">Datadog monitor manager</h1>
            <div class="menu" style="width: 100%">
                <div style="display:inline;color:rgb(226, 225, 227); vertical-align: middle; text-align:center;"><a href="{% url 'monitor_viewer:monitor_list' %}">モニタ一覧</a></div>
                <div style="display:inline;color:rgb(226, 225, 227); vertical-align: middle; text-align:center;"><a href="{% url 'monitor_viewer:monitor_settings' %}">キー設定</a></div>
                <div style="display:inline;color:rgb(226, 225, 227); vertical-align: middle; text-align:center;"><a href="{% url 'monitor_viewer:clear_settings' %}">キー情報のクリア</a></div>
            </div>
        </div>
        <div style="border-style: solid; border-color:gray; border-width: 2px;" class="container">
            {% block content %}
            {% endblock %}
        </div>
        <div style="border-style: solid; border-color:rgb(32,25,39); border-width: 2px; background-color:rgb(32,25,39);color:rgb(226, 225, 227);" class="footer">
            フッターだよ〜
        </div>
    </body>
</html>