{% extends "base.html" %}
{% block title %} モニタリングのキー設定 {% endblock title %}
{% block content %}
    {% if  param.is_error %}
        <p class="text-danger bg-danger lead">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            DatadogのAPI KEYまたはAPP KEYが不正です。
            <i class="glyphicon glyphicon-exclamation-sign"></i>
        </p>
    {% endif %}
    <div class="container">
        <h1>キー情報</h1>
        <form class="form-group" action={% url 'monitor_viewer:monitor_settings_confirm' %} method="post">
            {% csrf_token %}
            <label for="api_key">API KEY</label><br/>
            <input class="form-control" type="text" name="api_key" placeholder="Api Key"/><br/>
            <label for="app_key">APP KEY</label><br/>
            <input class="form-control" type="text" name="app_key" placeholder="App Key"/><br/>
            <input class="btn btn-default" type="submit" value="設定"/>
        </form>
    </div>
{% endblock content %}