{% extends "base.html" %}
    {% block title %} {{ monitor.name }} {%endblock title %}
    </head>
    {% block content %}
        <h1>{{ monitor.name }}</h1>
        <div style="width: 100%; display: table;">
            <form style="display: table-cell;" action={% url 'monitor_viewer:monitor_save' %} method="post">
                {% csrf_token %}
                <label for="msg">修正後</label><br/>
                <textarea name="msg" cols="80" rows="40">{{ text }}</textarea><br/>
                <input type="submit" value="適用">
            </form>
            <div style="display: table-cell; padding-left:2em">
                    修正前<br/>
                    <textarea style="color: gray;" name="msg" cols="80" rows="40" readonly="true">{{ text }}</textarea><br/>
            </div>
        </div>
    {% endblock content %}