<html>
    <head>
        <title>モニタリングのキー設定</title>
    </head>
    <body>
        <h1>キー情報</h1>
        <form action={% url 'monitor_viewer:monitor_list' %} method="get">
            <label for="api_key">API KEY</label><br/>
            <input type="text" name="api_key" placeholder="Api Key"/><br/>
            <label for="app_key">APP KEY</label><br/>
            <input type="text" name="app_key" placeholder="App Key"/><br/>
            <input type="submit" value="設定"/>
        </form>
    </body>
</html>